<%# vim: set filetype=html: %>

<script type="text/javascript">
	function call_api() {
		const url = '<%= config.endpoint.apiPublic %>' + '/v1' + $('#api-url').val();
		$.getJSON(url, function(data) {
			$('#api-output').text(JSON.stringify(data, null, 4));
		});
		return false;
	}
</script>

<div class="text-center">[ <a href="#" onclick="$('.api-view').slideToggle()">Toggle API View</a> ]</div>

<div class="api-view" style="margin:10px 0px;display:none;">
	
	<form onsubmit="return call_api();">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon3"><%= config.endpoint.apiPublic %>/v1</span>
			<input type="text" class="form-control" id="api-url" value="<%= api_path %>" aria-describedby="basic-addon3">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="submit">Call</button>
			</span>
		</div>
	</form>
	
	<pre class="alert alert-dark" style="margin:10px 0px;"><code id="api-output">(Please press the "Call" button...)</code></pre>
	
</div>

