<%# vim: set filetype=html: %>

<%- include('../templates/header.ejs', { title: 'Stat &raquo Block Nonce Distribution' }) %>

<div class="page-header">
	<h1>Stat &raquo; Nonce Distribution</h1>
</div>

<hr />

<div>This is a plot of the <%= config.coin.name %> nonce values included in every blockheader.</div>

<div><img src="<%= config.server.web.prefix %>/img/nonce.png" alt="nonce plot" style="width:100%;"></div>

<%- include('../templates/footer.ejs') %>

