
		</div>
		
		<hr />
		
		<div class="container">
			<footer>
				<p>Copyright &copy; chainseeker 2017-<%= new Date().getFullYear() %>. All rights reserved.</p>
				<p>Created & maintained by <a href="https://twitter.com/visvirial" target="_blank">@visvirial</a>.</p>
				<p>Rendered in <%= new Date().getTime() - processStartTime %> ms.</p>
			</footer>
		</div>
		
	</body>
</html>

